body {
  background-image: url("bike1.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia; 
}

.box1 {
  border: solid;
  border-color: black;
  margin: auto;
  padding: 1%;
  background-color: antiquewhite;
  opacity: 75%;
}

button {
  background-color: #87584a;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

button :hover {
  opacity: 1;
}